# Node modules
node_modules/
backend/node_modules/
frontend/node_modules/

# Environment files
.env
backend/.env
frontend/.env

# Logs
*.log

# Build folders
dist/
build/
frontend/dist/

# Uploads
backend/uploads/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db