.sidebar{
  width:260px;
  min-height:100vh;
  background:#0f172a;
  color:white;
  padding:25px;
}

.sidebar h2{
  margin-bottom:30px;
}

.sidebar p{
  padding:12px 0;
  cursor:pointer;
  transition:.3s;
}

.sidebar p:hover{
  color:#60a5fa;
}